Checks: 'bugprone*,performance*,portability*,
        -bugprone-easily-swappable-parameters,-bugprone-forwarding-reference-overload'

FormatStyle:        file
WarningsAsErrors:   '*'
HeaderFilterRegex:  '.*/include/bio/.*'
